# Lab Exercise 5: Integrating Python with SQL for Data Engineering

In [20]:
# Importing the important libraries
import pandas as pd
import mysql.connector
from mysql.connector import Error
import mydb_config
import numpy as np

In [21]:
# Reading the csv file
order_items = pd.read_csv('./ShopEase Data/order_items.csv')

In [22]:
order_items.astype(np.int64)

      order_detail_id  order_id  quantity  product_id
0                   1         1         3          34
1                   2         1         2          47
2                   3         2         4          10
3                   4         2         3          77
4                   5         3         2          76
...               ...       ...       ...         ...
1346             1346       673         3          97
1347             1347       674         2          90
1348             1348       674         1          60
1349             1349       675         5          50
1350             1350       675         4          28

[1351 rows x 4 columns]

In [23]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1351 entries, 0 to 1350
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_detail_id  1351 non-null   int64
 1   order_id         1351 non-null   int64
 2   quantity         1351 non-null   int64
 3   product_id       1351 non-null   int64
dtypes: int64(4)
memory usage: 42.3 KB

In [24]:
order_item = (order_items.astype('Int16'))

In [25]:
order_item.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1346    False
1347    False
1348    False
1349    False
1350    False
Length: 1351, dtype: bool

In [26]:
import mydb_config  

connection = None

try:
    connection =  mysql.connector.connect(
        host= mydb_config.host(),
        user = mydb_config.user(),
        password = mydb_config.password(),
        database = mydb_config.database()
    )

    if connection.is_connected():
        cursor = connection.cursor()
        for index, row in order_item.iterrows():
            cursor.execute("""
                INSERT INTO order_items (order_detail_id, order_id, quantity, product_id)
                VALUES (%s, %s, %s, %s)
            """, (row['order_detail_id'], row['order_id'], row['quantity'], row['product_id']))
            connection.commit()

except Error as e:
        print(f"Error: {e}")
        connection.rollback()
finally:
        if connection and connection.is_connected():
            cursor.close()

Error: 1062 (23000): Duplicate entry '1' for key 'order_items.PRIMARY'